/* Global styles */
.app {
  height: 100vh;
  display: flex;
  background-color: rgb(188, 214, 214);
  color: rgb(10, 7, 7);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
}

.main {
  width: 75%;
}

.money-tree {
  font-size: medium;
  font-weight: bold;
  background-color: rgb(103, 100, 186);
  border: 1px solid #f6f6f6;
  border-radius: 15px;
  width: 40%;
  margin: auto;

  display: flex-end;
  flex-direction: column;
  justify-content: space-between;
}

.money-tree-item {
  display: flex;
  justify-content: space-between;
  font-size: 1em;
  font-weight: bold;
  border: 2px solid #d6c3c3;
  color: #1ecf3e;
  border-radius: 50%;
  padding: 6px;
  margin: 6px;
  transition: background-color 0.8s;
  width: 70%;
  align-items: center;
}
.money-tree li {
  list-style: none;
  padding: 5px;
  transition: background-color 0.5s;
}

.money-tree li:hover {
  background-color: #e37c28;
}

.lifeline-buttons {
  list-style: none;
  padding: 0;
  justify-content: center;
  display: flex;
}

.lifeline-buttons li {
  margin-right: 2%;
}

.lifeline-buttons li:hover {
  background-color: #1ecf3e;
}

.questions {
  width: 80%;
  margin: 20px auto;
}

.question {
  background-color: #f6f6f6;
  border: 2px solid #d6c3c3;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
