.app {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 1.5%;
  padding: 1%;
  color: rgb(10, 7, 7);
  background: linear-gradient(to bottom, rgb(8, 31, 91), #ffffff);
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.logo img {
  margin: 1em;
}

.lifeline-buttons {
  list-style: none;
  padding: 0;
  justify-content: center;
  align-items: center;
  display: flex;
}

.lifeline-buttons li {
  display: inline-block;
  margin: 1em;
  transition: background-color 0.8s;
}

.lifeline-buttons li:hover {
  background-color: #1ecf3e;
}

.moneytree {
  background-color: rgb(26, 22, 137);
  border: 1.5px solid #e0dbdb;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 15em;
  padding: 5px;
}

.money-tree {
  display: flex;
  flex-wrap: wrap;
}

.money-tree-item {
  color: #e0ede2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 50%;
  transition: background-color 0.8s;
  width: 130%;
  padding: 6px;
  border-radius: 50%;
  border: 2px solid #e6e6e6;
  margin: 5%;
}

.money-tree-item:last-child {
  margin-bottom: 0;
}

.money-tree li:hover {
  background-color: #e37c28;
}

.lifeline-buttons li:hover {
  background-color: #1ecf3e;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
  width: 80%;
  margin: 20px auto;
  position: relative;
  position: absolute;
  top: 40%;
  left: 16%;
}

.container h2 {
  font-size: 1.5em;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.questions {
  margin-left: 10px;
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

.question {
  background-color: rgb(255, 255, 255);
  border: 2px solid #d6c3c3;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
}
.options {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.money-tree-item.active {
  background-color: rgb(5, 135, 57);
}
.money-tree-level-num {
  font-weight: bold;
}
