.moneytree {
  background-color: rgb(103, 100, 186);
  padding: 2em;
  border: 1px solid #f6f6f6;
  border-radius: 8px;
}

.moneytree p {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  font-size: 1em;
  font-weight: bold;
  border: 2px solid #ffffff;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  padding: 1px;
  transition: background-color 0.3s;
}

.moneytree p:hover {
  background-color: #1ecf3e;
}

.lifeline-buttons {
  list-style: none;
  padding: 0;
  justify-content: center;
  display: flex;
}

.lifeline-buttons li {
  margin-right: 3%;
}

.lifeline-buttons li:hover {
  background-color: #1ecf3e;
}
